.pawprint-1-icon5 {
  width: 48px;
  height: 48px;
  position: relative;
  object-fit: cover;
}
.pawprint-1-wrapper2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-8xs) 0 0;
}
.petworld5 {
  margin: 0;
  position: relative;
  font-size: inherit;
  letter-spacing: -0.01em;
  line-height: 100%;
  font-weight: 500;
  font-family: inherit;
  white-space: nowrap;
}
.site-links {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-2xs) 0 0;
}
.home5 {
  margin: 0;
  width: 90px;
  position: relative;
  font-size: var(--font-size-9xl);
  line-height: 37px;
  font-weight: 700;
  font-family: var(--font-inter);
  color: var(--color-black);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
.home-buttons,
.home-navigation {
  display: flex;
  align-items: flex-start;
}
.home-buttons {
  width: 316px;
  flex-direction: row;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.home-navigation {
  width: 369px;
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-9xs) 0 0;
  box-sizing: border-box;
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-19xl);
  color: var(--color-darkolivegreen);
  font-family: var(--font-newsreader);
}
.about-us5 {
  margin: 0;
  width: 138px;
  position: relative;
  font-size: inherit;
  line-height: 37px;
  font-weight: 700;
  font-family: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
}
.about-us-wrapper2 {
  width: 191px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-12xs) 0 0;
  box-sizing: border-box;
}
.service5 {
  margin: 0;
  width: 130px;
  position: relative;
  font-size: inherit;
  line-height: 37px;
  font-weight: 700;
  font-family: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
}
.search-box5,
.service-wrapper2 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
}
.service-wrapper2 {
  width: 191.2px;
  flex-direction: column;
  padding: var(--padding-9xs) 0 0;
}
.search-box5 {
  width: calc(100% - 20px);
  border: 0;
  outline: 0;
  background-color: var(--color-white);
  height: 44px;
  flex: 1;
  border-radius: var(--br-8xs) 0 0 var(--br-8xs);
  overflow: hidden;
  flex-direction: row;
  padding: 0;
  font-family: var(--font-inter);
  font-size: var(--font-size-mini);
  color: var(--color-silver);
  min-width: 250px;
  max-width: 100%;
}
.icon-search5 {
  position: absolute;
  top: 12px;
  left: 12px;
  width: 20px;
  height: 20px;
  object-fit: cover;
}
.search5 {
  height: 44px;
  width: 53.7px;
  position: relative;
  border-radius: 0 var(--br-8xs) var(--br-8xs) 0;
  background-color: var(--color-plum);
  overflow: hidden;
  flex-shrink: 0;
  z-index: 1;
}
.search-bar-container,
.search-bar1 {
  width: 544.8px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.search-bar-container {
  width: 633.8px;
  flex-direction: column;
  padding: var(--padding-3xs) 0 0;
  box-sizing: border-box;
}
.image-1-icon5 {
  height: 35px;
  width: 35px;
  position: relative;
  object-fit: cover;
}
.account-details2 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-11xl);
}
.my-account5 {
  position: relative;
  line-height: 21px;
  display: inline-block;
  min-width: 95px;
  white-space: nowrap;
}
.account-info-container,
.account-info3 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.account-info3 {
  gap: var(--gap-4xs);
}
.account-info-container {
  width: 171px;
  padding: var(--padding-11xs) 0 0;
  box-sizing: border-box;
  font-size: var(--font-size-base);
}
.shopping-cart-1-icon5 {
  width: 40px;
  height: 40px;
  position: relative;
  object-fit: cover;
}
.cart5 {
  position: relative;
  line-height: 21px;
  display: inline-block;
  min-width: 35px;
}
.cart-wrapper1,
.header5,
.shopping-cart-1-parent2 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.cart-wrapper1 {
  flex-direction: row;
  padding: 0 var(--padding-10xs) 0 var(--padding-11xs);
}
.header5,
.shopping-cart-1-parent2 {
  flex-direction: column;
  gap: var(--gap-7xs);
  font-size: var(--font-size-base);
}
.header5 {
  margin-left: -179px;
  width: 1920px;
  background-color: var(--color-thistle-100);
  flex-direction: row;
  padding: var(--padding-19xl) var(--padding-78xl) var(--padding-16xl);
  box-sizing: border-box;
  gap: var(--gap-5xs);
  top: 0;
  z-index: 99;
  position: sticky;
  max-width: 111%;
  flex-shrink: 0;
  text-align: center;
  font-size: var(--font-size-9xl);
  color: var(--color-black);
  font-family: var(--font-inter);
}
.placeholder {
  height: 45px;
  width: 3px;
  position: relative;
  background-color: var(--color-plum);
  overflow: hidden;
  flex-shrink: 0;
}
.profile-1-icon1 {
  width: 20px;
  height: 20px;
  position: relative;
  object-fit: cover;
  z-index: 1;
}
.image-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-xs) 0 0;
}
.my-profile3 {
  height: 44px;
  width: 123px;
  position: relative;
  line-height: 130%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  z-index: 1;
}
.image-container-parent,
.user-actions,
.user-profile {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.image-container-parent {
  flex: 1;
  background: linear-gradient(
      90deg,
      rgba(255, 255, 255, 0),
      rgba(0, 0, 0, 0.06)
    ),
    #fff;
  overflow: hidden;
  padding: var(--padding-12xs) var(--padding-2xs) 0;
  gap: var(--gap-smi);
}
.user-actions,
.user-profile {
  align-self: stretch;
}
.user-actions {
  padding: 0 var(--padding-4xl) 0 var(--padding-smi);
}
.profile-info,
.user-settings {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.user-settings {
  align-self: stretch;
  align-items: flex-start;
  gap: var(--gap-12xs);
}
.profile-info {
  width: 354px;
  background-color: var(--color-whitesmoke-100);
  overflow: hidden;
  flex-shrink: 0;
  align-items: flex-end;
  padding: var(--padding-93xl) var(--padding-40xl) 428px var(--padding-37xl);
  box-sizing: border-box;
  gap: var(--gap-47xl);
  min-width: 354px;
  max-width: 100%;
}
.hello-jack1 {
  margin: 0;
  flex: 1;
  position: relative;
  font-size: inherit;
  line-height: 130%;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
  max-width: 100%;
}
.hello-jack-wrapper {
  width: 409px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-sm);
  box-sizing: border-box;
  max-width: 100%;
}
.address1,
.address3 {
  width: 201px;
  position: relative;
  line-height: 24px;
  display: flex;
  align-items: center;
}
.address3 {
  width: 344px;
  flex-shrink: 0;
  max-width: calc(100% - 0px);
}
.address-wrapper,
.address2 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
}
.address2 {
  width: 406px;
  border-radius: var(--br-8xs);
  background-color: var(--color-white);
  border: 0.5px solid var(--color-black);
  overflow: hidden;
  flex-direction: row;
  padding: var(--padding-3xs) var(--padding-sm) var(--padding-sm);
  flex-shrink: 0;
  debug_commit: 448091;
  white-space: nowrap;
  max-width: 106%;
}
.address-wrapper {
  width: 385px;
  flex-direction: column;
  padding: var(--padding-7xs) 0 0;
  max-width: 100%;
}
.change {
  height: 60px;
  width: 150px;
  position: relative;
  font-size: var(--font-size-xs);
  line-height: 130%;
  display: flex;
  color: var(--color-darkslategray);
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  debug_commit: 448091;
}
.frame-parent10 {
  flex-direction: row;
  align-items: flex-start;
  row-gap: 20px;
  max-width: 100%;
  color: var(--color-black);
}
.address,
.frame-parent10,
.information1 {
  display: flex;
  justify-content: flex-start;
}
.address {
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-xl);
  max-width: 100%;
  z-index: 5;
  margin-top: -6px;
}
.information1 {
  align-self: stretch;
  overflow: hidden;
  padding: var(--padding-2xl) var(--padding-4xl) var(--padding-30xl);
  box-sizing: border-box;
  min-height: 762px;
  font-size: var(--font-size-lg);
  color: var(--color-darkslategray);
}
.frame-parent9,
.frame-wrapper2,
.information1 {
  flex-direction: column;
  align-items: flex-start;
  max-width: 100%;
}
.frame-parent9 {
  align-self: stretch;
  display: flex;
  justify-content: flex-start;
  gap: var(--gap-22xl);
}
.frame-wrapper2 {
  flex: 1;
  padding: 0 0 var(--padding-42xl);
  min-width: 435px;
  min-height: 916px;
  font-size: var(--font-size-21xl);
}
.frame-wrapper2,
.my-profile-page,
.profile-info-parent {
  display: flex;
  justify-content: flex-start;
  box-sizing: border-box;
}
.profile-info-parent {
  width: 1068px;
  flex-direction: row;
  align-items: flex-end;
  padding: 0 var(--padding-xl) 0 0;
  gap: var(--gap-5xl);
  max-width: 100%;
}
.my-profile-page {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  overflow: hidden;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 var(--padding-12xs) 833px var(--padding-159xl);
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  font-size: var(--font-size-mini);
  color: var(--color-black);
  font-family: var(--font-inter);
}
@media screen and (max-width: 1200px) {
  .header5 {
    padding-left: var(--padding-29xl);
    padding-right: var(--padding-29xl);
    box-sizing: border-box;
  }
  .my-profile-page {
    padding-left: var(--padding-70xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 1050px) {
  .profile-info {
    flex: 1;
    padding-top: var(--padding-54xl);
    padding-bottom: 278px;
    box-sizing: border-box;
  }
  .hello-jack1 {
    font-size: var(--font-size-13xl);
    line-height: 42px;
  }
  .frame-wrapper2 {
    padding-bottom: var(--padding-21xl);
    box-sizing: border-box;
  }
  .profile-info-parent {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 750px) {
  .header5 {
    padding-left: var(--padding-5xl);
    padding-right: var(--padding-5xl);
    box-sizing: border-box;
  }
  .profile-info {
    padding-top: var(--padding-28xl);
    padding-bottom: 181px;
    box-sizing: border-box;
    min-width: 100%;
  }
  .frame-parent10 {
    flex-wrap: wrap;
  }
  .information1 {
    padding-top: var(--padding-xl);
    padding-bottom: var(--padding-13xl);
    box-sizing: border-box;
  }
  .frame-parent9 {
    gap: var(--gap-xl);
  }
  .frame-wrapper2 {
    min-width: 100%;
  }
  .my-profile-page {
    padding-left: var(--padding-25xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .profile-info {
    gap: var(--gap-14xl);
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .hello-jack1 {
    font-size: var(--font-size-5xl);
    line-height: 31px;
  }
  .frame-wrapper2,
  .information1 {
    padding-bottom: var(--padding-2xl);
    box-sizing: border-box;
  }
  .frame-wrapper2 {
    padding-bottom: var(--padding-7xl);
  }
  .my-profile-page {
    padding-left: var(--padding-xl);
    box-sizing: border-box;
  }
}
