.pawprint-1-icon3 {
  width: 48px;
  height: 48px;
  position: relative;
  object-fit: cover;
}
.pawprint-1-frame {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-8xs) 0 0;
}
.petworld3 {
  margin: 0;
  position: relative;
  font-size: inherit;
  letter-spacing: -0.01em;
  line-height: 100%;
  font-weight: 500;
  font-family: inherit;
  white-space: nowrap;
}
.home-links2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-2xs) 0 0;
}
.home3 {
  margin: 0;
  width: 90px;
  position: relative;
  font-size: var(--font-size-9xl);
  line-height: 37px;
  font-weight: 700;
  font-family: var(--font-inter);
  color: var(--color-black);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
.header-inner,
.home-links-group {
  display: flex;
  align-items: flex-start;
}
.home-links-group {
  width: 316px;
  flex-direction: row;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.header-inner {
  width: 369px;
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-9xs) 0 0;
  box-sizing: border-box;
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-19xl);
  color: var(--color-darkolivegreen);
  font-family: var(--font-newsreader);
}
.about-us3 {
  margin: 0;
  width: 138px;
  position: relative;
  font-size: inherit;
  line-height: 37px;
  font-weight: 700;
  font-family: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
}
.about-us-frame {
  width: 191px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-12xs) 0 0;
  box-sizing: border-box;
}
.service3 {
  margin: 0;
  width: 130px;
  position: relative;
  font-size: inherit;
  line-height: 37px;
  font-weight: 700;
  font-family: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
}
.search-box3,
.service-frame {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
}
.service-frame {
  width: 191.2px;
  flex-direction: column;
  padding: var(--padding-9xs) 0 0;
}
.search-box3 {
  width: calc(100% - 20px);
  border: 0;
  outline: 0;
  background-color: var(--color-white);
  height: 44px;
  flex: 1;
  border-radius: var(--br-8xs) 0 0 var(--br-8xs);
  overflow: hidden;
  flex-direction: row;
  padding: 0;
  font-family: var(--font-inter);
  font-size: var(--font-size-mini);
  color: var(--color-silver);
  min-width: 250px;
  max-width: 100%;
}
.icon-search3 {
  position: absolute;
  top: 12px;
  left: 12px;
  width: 20px;
  height: 20px;
  object-fit: contain;
}
.search3 {
  height: 44px;
  width: 53.7px;
  position: relative;
  border-radius: 0 var(--br-8xs) var(--br-8xs) 0;
  background-color: var(--color-plum);
  overflow: hidden;
  flex-shrink: 0;
  z-index: 1;
}
.header-child,
.search-box-parent {
  width: 544.8px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.header-child {
  width: 633.8px;
  flex-direction: column;
  padding: var(--padding-3xs) 0 0;
  box-sizing: border-box;
}
.image-1-icon3 {
  height: 35px;
  width: 35px;
  position: relative;
  object-fit: cover;
}
.account-elements {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-11xl);
}
.my-account3 {
  position: relative;
  line-height: 21px;
  display: inline-block;
  min-width: 95px;
  white-space: nowrap;
}
.account-elements-parent,
.header-inner1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.account-elements-parent {
  gap: var(--gap-4xs);
}
.header-inner1 {
  width: 171px;
  padding: var(--padding-11xs) 0 0;
  box-sizing: border-box;
  font-size: var(--font-size-base);
}
.shopping-cart-1-icon3 {
  width: 40px;
  height: 40px;
  position: relative;
  object-fit: cover;
}
.cart3 {
  position: relative;
  line-height: 21px;
  display: inline-block;
  min-width: 35px;
}
.cart-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-10xs) 0 var(--padding-11xs);
}
.shopping-cart-1-container {
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-7xs);
  font-size: var(--font-size-base);
}
.dropdown-items,
.header3,
.shopping-cart-1-container {
  display: flex;
  justify-content: flex-start;
}
.header3 {
  margin-left: -178px;
  width: 1920px;
  background-color: var(--color-thistle-100);
  flex-direction: row;
  align-items: flex-start;
  padding: var(--padding-19xl) var(--padding-78xl) var(--padding-16xl);
  box-sizing: border-box;
  gap: var(--gap-5xs);
  top: 0;
  z-index: 99;
  position: sticky;
  max-width: 111%;
  flex-shrink: 0;
  text-align: center;
  font-size: var(--font-size-9xl);
  color: var(--color-black);
  font-family: var(--font-inter);
}
.dropdown-items {
  align-self: stretch;
  background-color: var(--color-whitesmoke-100);
  overflow: hidden;
  flex-direction: column;
  align-items: flex-end;
  padding: var(--padding-93xl) var(--padding-40xl) var(--padding-946xl)
    var(--padding-37xl);
  gap: var(--gap-48xl);
}
.user-dropdown {
  width: 354px;
  flex-direction: column;
  padding: var(--padding-12xs) 0 0;
  max-width: 100%;
}
.upload-pets,
.user-dropdown,
.user-dropdown-group {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
}
.user-dropdown-group {
  width: 1584px;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0 var(--padding-xl) 0 0;
  row-gap: 20px;
  max-width: 100%;
}
.upload-pets {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  overflow: hidden;
  flex-direction: column;
  padding: 0 var(--padding-12xs) 295px var(--padding-158xl);
  line-height: normal;
  letter-spacing: normal;
}
@media screen and (max-width: 1200px) {
  .header3 {
    padding-left: var(--padding-29xl);
    padding-right: var(--padding-29xl);
    box-sizing: border-box;
  }
  .dropdown-items {
    padding-top: var(--padding-54xl);
    padding-bottom: var(--padding-608xl);
    box-sizing: border-box;
  }
  .upload-pets {
    padding-left: var(--padding-69xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 1050px) {
  .dropdown-items {
    padding-top: var(--padding-28xl);
    padding-bottom: var(--padding-389xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 750px) {
  .header3 {
    padding-left: var(--padding-5xl);
    padding-right: var(--padding-5xl);
    box-sizing: border-box;
  }
  .upload-pets {
    padding-left: var(--padding-25xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .dropdown-items {
    gap: var(--gap-14xl);
    padding: var(--padding-12xl) var(--padding-xl) var(--padding-246xl);
    box-sizing: border-box;
  }
  .upload-pets {
    padding-left: var(--padding-xl);
    box-sizing: border-box;
  }
}
.btn-custom {
  background-color: #d891c3; /* Background color */
  border: 1px solid black;   /* Black border */
  color: black;              /* Black text color */
  font-weight: bold;         /* Bold text */
  padding: 10px 20px;        /* Padding to increase the button size */
  text-align: center;        /* Center-align text */
  display: inline-block;     /* Display as inline-block */
}