.pawprint-1-icon {
  width: 48px;
  height: 48px;
  position: relative;
  object-fit: contain;
}
.pawprint-1-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-8xs) var(--padding-5xs) 0 0;
}
.petworld {
  margin: 0;
  position: relative;
  font-size: inherit;
  letter-spacing: -0.01em;
  line-height: 100%;
  font-weight: 500;
  font-family: inherit;
  white-space: nowrap;
}
.pet-world-link {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-2xs) 0 0;
}
.home {
  margin: 0;
  width: 90px;
  position: relative;
  font-size: var(--font-size-9xl);
  line-height: 37px;
  font-weight: 700;
  font-family: var(--font-inter);
  color: var(--color-black);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
.home-links,
.home-links-wrapper {
  display: flex;
  align-items: flex-start;
}
.home-links {
  width: 316px;
  flex-direction: row;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.home-links-wrapper {
  width: 377px;
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-9xs) 0 0;
  box-sizing: border-box;
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-19xl);
  color: var(--color-darkolivegreen);
  font-family: var(--font-newsreader);
}
.about-us {
  margin: 0;
  width: 138px;
  position: relative;
  font-size: inherit;
  line-height: 37px;
  font-weight: 700;
  font-family: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
}
.about-us-wrapper {
  width: 199px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-12xs) 0 0;
  box-sizing: border-box;
}
.service {
  margin: 0;
  width: 130px;
  position: relative;
  font-size: inherit;
  line-height: 37px;
  font-weight: 700;
  font-family: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
}
.service-wrapper {
  width: 199.2px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-9xs) 0 0;
  box-sizing: border-box;
}
.im-searching-for {
  margin-top: -2px;
  margin-left: -44.2px;
  width: 244.3px;
  border: 0;
  outline: 0;
  font-family: var(--font-inter);
  font-size: var(--font-size-mini);
  background-color: transparent;
  height: 52px;
  position: relative;
  line-height: 130%;
  color: var(--color-silver);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}
.search-box,
.search-box-wrapper {
  width: 491.1px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.search-box {
  height: 44px;
  border-radius: var(--br-8xs) 0 0 var(--br-8xs);
  background-color: var(--color-white);
  overflow: hidden;
  flex-shrink: 0;
  flex-direction: row;
  white-space: nowrap;
}
.search-box-wrapper {
  height: 54px;
  flex-direction: column;
  padding: var(--padding-3xs) 0 0;
  box-sizing: border-box;
  max-width: 100%;
}
.icon-search {
  position: absolute;
  top: 12px;
  left: 12px;
  width: 20px;
  height: 20px;
  object-fit: cover;
}
.search {
  width: 53.7px;
  height: 44px;
  position: relative;
  border-radius: 0 var(--br-8xs) var(--br-8xs) 0;
  background-color: var(--color-plum);
  overflow: hidden;
  flex-shrink: 0;
}
.search-wrapper {
  width: 150.7px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs) 0 0;
  box-sizing: border-box;
}
.image-1-icon {
  height: 35px;
  width: 35px;
  position: relative;
  object-fit: cover;
}
.account-details {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-11xl);
}
.my-account {
  position: relative;
  line-height: 21px;
  display: inline-block;
  min-width: 95px;
  white-space: nowrap;
}
.account-info,
.account-info-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.account-info {
  gap: var(--gap-4xs);
}
.account-info-wrapper {
  width: 179px;
  padding: var(--padding-11xs) 0 0;
  box-sizing: border-box;
  font-size: var(--font-size-base);
}
.shopping-cart-1-icon {
  width: 40px;
  height: 40px;
  position: relative;
  object-fit: cover;
}
.cart {
  position: relative;
  line-height: 21px;
  display: inline-block;
  min-width: 35px;
}
.cart-label {
  flex-direction: row;
  padding: 0 var(--padding-10xs) 0 var(--padding-11xs);
}
.cart-label,
.header,
.shopping-cart-1-parent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.shopping-cart-1-parent {
  flex-direction: column;
  gap: var(--gap-7xs);
  font-size: var(--font-size-base);
}
.header {
  margin-left: -178px;
  width: 1920px;
  background-color: var(--color-thistle-100);
  flex-direction: row;
  padding: var(--padding-19xl) var(--padding-78xl) var(--padding-16xl);
  box-sizing: border-box;
  top: 0;
  z-index: 99;
  position: sticky;
  max-width: 111%;
  flex-shrink: 0;
  text-align: center;
  font-size: var(--font-size-9xl);
  color: var(--color-black);
  font-family: var(--font-inter);
}
.profile-1-icon {
  width: 20px;
  height: 20px;
  position: relative;
  object-fit: cover;
}
.profile-link-details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-xs) 0 0;
}
.my-profile {
  height: 44px;
  flex: 1;
  position: relative;
  line-height: 130%;
  display: flex;
  align-items: center;
}
.profile-menu-link {
  flex: 1;
  flex-direction: row;
  gap: var(--gap-sm);
}
.profile-menu-items,
.profile-menu-items-parent,
.profile-menu-link {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.profile-menu-items {
  width: 159px;
  flex-direction: row;
  padding: 0 var(--padding-12xs);
  box-sizing: border-box;
}
.profile-menu-items-parent {
  width: 201px;
  flex-direction: column;
  gap: var(--gap-12xs);
}
.hello-jack,
.user-info1 {
  display: flex;
  max-width: 100%;
}
.user-info1 {
  width: 354px;
  background-color: var(--color-whitesmoke-100);
  overflow: hidden;
  flex-shrink: 0;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-93xl) var(--padding-50xl) 227px;
  box-sizing: border-box;
  gap: var(--gap-48xl);
  min-width: 354px;
}
.hello-jack {
  margin:20px 0 0 0;
  width: 381px;
  position: relative;
  font-size: inherit;
  line-height: 130%;
  font-weight: 700;
  font-family: inherit;
  align-items: center;
}
.profile-options {
  width: 266px;
  flex-direction: column;
  min-width: 266px;
}
.order-navigation,
.order-options,
.profile-navigation,
.profile-options {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-7xl);
}
.order-options {
  flex: 1;
  flex-direction: column;
  min-width: 173px;
}
.order-navigation,
.profile-navigation {
  flex-direction: row;
  max-width: 100%;
}
.order-navigation {
  flex: 1;
  min-width: 363px;
}
.profile-navigation {
  align-self: stretch;
}
.greeting,
.greeting-wrapper {
  flex-direction: column;
  max-width: 100%;
}
.greeting {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 172px;
}
.greeting-wrapper {
  flex: 1;
  padding: var(--padding-92xl) 0 0;
  min-width: 552px;
  font-size: var(--font-size-21xl);
}
.greeting-wrapper,
.user-info-parent,
.user-main-page {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
}
.user-info-parent {
  width: 1262px;
  flex-direction: row;
  padding: 0 var(--padding-xl) 0 0;
  gap: var(--gap-19xl);
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-mini);
  color: var(--color-black);
  font-family: var(--font-inter);
}
.user-main-page {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  overflow: hidden;
  flex-direction: column;
  padding: 0 var(--padding-12xs) 1034px var(--padding-158xl);
  line-height: normal;
  letter-spacing: normal;
}
@media screen and (max-width: 1200px) {
  .header {
    padding-left: var(--padding-29xl);
    padding-right: var(--padding-29xl);
    box-sizing: border-box;
  }
  .user-info1 {
    flex: 1;
  }
  .user-info-parent {
    flex-wrap: wrap;
  }
  .user-main-page {
    padding-left: var(--padding-69xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 1050px) {
  .user-info1 {
    padding-top: var(--padding-54xl);
    padding-bottom: 148px;
    box-sizing: border-box;
  }
  .hello-jack {
    font-size: var(--font-size-13xl);
    line-height: 42px;
  }
  .profile-options {
    flex: 1;
  }
  .profile-navigation {
    flex-wrap: wrap;
  }
  .greeting {
    gap: 86px;
  }
  .greeting-wrapper {
    min-width: 100%;
  }
}
@media screen and (max-width: 750px) {
  .header {
    padding-left: var(--padding-5xl);
    padding-right: var(--padding-5xl);
    box-sizing: border-box;
  }
  .user-info1 {
    min-width: 100%;
  }
  .order-navigation {
    flex-wrap: wrap;
    min-width: 100%;
  }
  .greeting-wrapper {
    padding-top: var(--padding-53xl);
    box-sizing: border-box;
  }
  .user-info-parent {
    gap: var(--gap-lgi);
  }
  .user-main-page {
    padding-left: var(--padding-25xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .user-info1 {
    gap: var(--gap-14xl);
    padding: var(--padding-28xl) var(--padding-xl) 96px;
    box-sizing: border-box;
  }
  .hello-jack {
    font-size: var(--font-size-5xl);
    line-height: 31px;
  }
  .greeting {
    gap: 43px;
  }
  .user-main-page {
    padding-left: var(--padding-xl);
    box-sizing: border-box;
  }
}
