.last-name38 {
  width: 201px;
  position: relative;
  line-height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  z-index: 1;
}
.confirm-password-duo {
  width: 903px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
  max-width: 100%;
}
.last-name40 {
  width: 162px;
  border: 0;
  outline: 0;
  font-family: var(--font-inter);
  font-size: var(--font-size-lg);
  background-color: transparent;
  height: 24px;
  position: relative;
  line-height: 130%;
  color: var(--color-gray-100);
  text-align: left;
  display: flex;
  align-items: center;
  padding: 0;
}
.last-name39 {
  height: 49px;
  flex: 1;
  border-radius: var(--br-8xs);
  background-color: var(--color-white);
  border: 0.5px solid var(--color-black);
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs) var(--padding-mid) var(--padding-sm);
  max-width: calc(100% - 541px);
}
.last-name42 {
  width: 120px;
  border: 0;
  outline: 0;
  font-family: var(--font-inter);
  font-size: var(--font-size-lg);
  background-color: transparent;
  height: 24px;
  position: relative;
  line-height: 130%;
  color: var(--color-gray-100);
  text-align: left;
  display: flex;
  align-items: center;
  padding: 0;
}
.last-name41 {
  height: 49px;
  flex: 1;
  border-radius: var(--br-8xs);
  background-color: var(--color-white);
  border: 0.5px solid var(--color-black);
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs) var(--padding-base) var(--padding-sm);
  max-width: calc(100% - 546px);
}
.confirm-password-pair,
.last-name-parent3 {
  display: flex;
  justify-content: flex-start;
  max-width: 100%;
}
.last-name-parent3 {
  align-self: stretch;
  height: 48px;
  flex-direction: row;
  align-items: flex-start;
  gap: var(--gap-40xl);
}
.confirm-password-pair {
  width: 1026px;
  flex-direction: column;
  align-items: flex-end;
  padding: 0 0 var(--padding-6xl);
  box-sizing: border-box;
  gap: var(--gap-7xl);
  text-align: center;
  font-size: var(--font-size-lg);
  color: var(--color-darkslategray);
  font-family: var(--font-inter);
}
