.sale1 {
  position: absolute;
  top: 0;
  right: 10px;
  line-height: 130%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90px;
  height: 60px;
}
.downward-arrow-1-icon {
  position: absolute;
  top: 20px;
  left: 80px;
  width: 20px;
  height: 20px;
  object-fit: cover;
}
.dog1,
.sale {
  position: absolute;
  top: 9px;
  right: 227px;
  width: 100px;
  height: 60px;
}
.dog1 {
  top: 0;
  right: 3px;
  line-height: 130%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90px;
}
.downward-arrow-1-icon1 {
  position: absolute;
  top: 20px;
  left: 73px;
  width: 20px;
  height: 20px;
  object-fit: cover;
}
.cat1,
.dog {
  position: absolute;
  top: 9px;
  right: 1571px;
  width: 93px;
  height: 60px;
}
.cat1 {
  top: 0;
  right: 1px;
  line-height: 130%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90px;
}
.downward-arrow-2-icon {
  position: absolute;
  top: 20px;
  left: 71px;
  width: 20px;
  height: 20px;
  object-fit: cover;
}
.cat,
.fish1 {
  position: absolute;
  top: 9px;
  right: 1242px;
  width: 91px;
  height: 60px;
}
.fish1 {
  top: 0;
  right: 0;
  line-height: 130%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90px;
}
.downward-arrow-3-icon {
  position: absolute;
  top: 20px;
  left: 70px;
  width: 20px;
  height: 20px;
  object-fit: cover;
}
.bird1,
.fish {
  position: absolute;
  width: 90px;
  height: 60px;
}
.fish {
  top: 9px;
  right: 914px;
}
.bird1 {
  top: 0;
  left: 0;
  line-height: 130%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.downward-arrow-4-icon {
  position: absolute;
  top: 20px;
  left: 70px;
  width: 20px;
  height: 20px;
  object-fit: cover;
}
.bird,
.header10 {
  position: absolute;
}
.bird {
  top: 9px;
  left: 1243px;
  width: 90px;
  height: 60px;
}
.header10 {
  width: calc(100% - 1px);
  top: 140px;
  right: 1px;
  left: 0;
  background-color: var(--color-plum);
  height: 77px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-6xl);
  color: var(--color-black);
  font-family: var(--font-inter);
}
